/* General */
* {
    font-family: 'Jua', sans-serif;
}

body {
    color: #f8ce46 !important;
    background-color: #6280b1 !important;
}

fieldset.ng-scope {
    position: relative;
    width: 50%;
}

table#hello.sliding-puzzle {
    display: block;
    width: 100%;
    height: auto;
}

/*DIMENSION OF OVERLAY NOW EQUAL THOSE TO TBODY*/

.transparentOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 600px;
    opacity: 0;
    background-color: #f8ce46;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 600px;
    opacity: 0.85;
    transition: 2s ease;
    background-color: #f8ce46;
}

.text {
    color: #6280b1;
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

header {
    min-height: 200px;
    overflow: hidden;
    display: block;
    width: 100%;
    text-align: center;
}

header h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 500%;
}

@media (max-width: 440px) {
    header h1 {
        font-size: 400%;
    }

}

@media (max-width: 360px) {
    header h1 {
        font-size: 350%;
    }
}

.btn-group.puzzle {
    width: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.btn.btn-primary.score:hover, .btn.btn-primary.score:active, .btn.btn-primary.score:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: default;
}

/* Puzzle widgets */

.sliding-puzzle {
    margin: auto;
    display: inline-block;
    /*border: 15px solid #f8ce46;*/
    /*border-radius: 10px;*/
    border-spacing: 0;
}
.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px outset white;
    cursor: pointer;
    padding: 0;
}
.sliding-puzzle .puzzle-empty {
    border: none;
    background-color: #9e9e9e !important;
}
.sliding-puzzle.puzzle-solved td {
    border: none;
}

/* Popover */
.popover {
    border: 2px solid #6280b1 !important;
}
/* Popover Header */
.popover-title {
    background-color: #6280b1 !important;
    color: #f8ce46 !important;
    font-size: 28px;
    font-family: 'Jua', sans-serif;
    text-align:center;

}
/* Popover Body */
.popover-content {
    background-color: #6280b1;
    color: #f8ce46;
    padding: 25px;
}

.col-md-12.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.col-md-12.footer p {
    margin-top: 10px;
}

.col-md-12.footer p a {
    color: #f8ce46;
}


@media (max-height: 1044px) {
    .col-md-12.footer .btn-group {
        display: none;
    }
    /* Ruimte tussen footer buttons en body is minimaal 50px. */
}
@media (max-height: 974px) {
    .col-md-12.footer p {
        display: none;
    }
    /* Ruimte tussen copyright line en body is minimaal 30px. */
}

.btn.btn-primary a {
    color: #fff;
}
.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.fa-facebook-square:hover {
    color: #fff;
}
.fa-twitter:hover {
    color: #4099FF;
}
.fa-instagram:hover {
    color: #e1306c;
}
.fa-youtube-play:hover {
    color: #ff0000;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}