<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kinderen in het Rijksmuseum</title>

	<script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
	<script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDbFrB41EJL0Ayy4mltZHaN1X0E0wB4-tw",
            authDomain: "pim-group1.firebaseapp.com",
            databaseURL: "https://pim-group1.firebaseio.com",
            projectId: "pim-group1",
            storageBucket: "pim-group1.appspot.com",

            messagingSenderId: "312587738910"
        };
        firebase.initializeApp(config);
	</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/puzzle/slidingPuzzle.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
    <script src="js/puzzle/requestAPI.js"></script>
    <script src="js/popover.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style-mainPage.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
</head>

<body ng-app="puzzleApp">

<header>
    <h1>Welkom in het Rijksmuseum!</h1>
</header>

<div ng-include="type"></div>


<script type="text/ng-template" id="sliding-puzzle">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <sliding-puzzle id="hello" api="puzzle.api" size="4x4" src="img/nachtwacht.jpg"></sliding-puzzle>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="puzzle.api.solve()">Oplossen</button>
                    <button type="reset" class="btn btn-primary" onclick="window.location.reload()">Reset</button>
                    <button id="bij" onclick="klik()" class="btn btn-primary" title="Titel" data-placement="top" data-toggle="popover" data-trigger="focus">Info</button>
                    <button type="button" class="btn btn-primary" id="btn non-clickable">Moves: <strong>{{puzzle.api.moves}}</strong></button>
                </div>
                <!--<br/>-->
            </fieldset>
        </div>
    </div>
</script>

	<!--<script type="text/ng-template" id="word-search-puzzle">-->
		<!--<div id="word-search" ng-controller="wordSearchCtrl">-->
			<!--<ul class="words">-->
				<!--<li ng-repeat="word in puzzle.words" ng-class="{'found': word.found}">-->
					<!--{{word.name}}-->
				<!--</li>-->
			<!--</ul>-->
			<!--<word-search-puzzle matrix="matrix" words="words" api="puzzle"></word-search-puzzle>-->
			<!--<div class="status">-->
				<!--<button ng-click="puzzle.solve()" ng-sho w="!puzzle.solved" class="solve">solve</button>-->
				<!--<strong ng-show="puzzle.solved" ng-show="puzzle.solved">Solved!</strong>-->
			<!--</div>-->
		<!--</div>-->
	<!--</script>-->
</body>
</html>